.caustic::before {
    content: attr(data-text);
    position: absolute;
    text-shadow: 4px 0 rgb(92, 132, 0);
    left: -8px;
    clip-path: inset(0 0 0 0);
    animation: ani2 2s infinite linear alternate-reverse;
}

.caustic::after {
    content: attr(data-text);
    position: absolute;
    text-shadow: 4px 0 rgb(150, 189, 9);
    left: 8px;
    clip-path: inset(0 0 0 0);
    animation: ani1 2s infinite linear alternate-reverse;
}

.fuse::before {
    content: attr(data-text);
    position: absolute;
    text-shadow: 4px 0 rgb(164, 134, 0);
    left: -8px;
    clip-path: inset(0 0 0 0);
    animation: ani2 2s infinite linear alternate-reverse;
}

.fuse::after {
    content: attr(data-text);
    position: absolute;
    text-shadow: 4px 0 rgb(105, 105, 105);
    left: 8px;
    clip-path: inset(0 0 0 0);
    animation: ani1 2s infinite linear alternate-reverse;
}

.balli::before {
    content: attr(data-text);
    position: absolute;
    text-shadow: 4px 0 rgb(6, 186, 236);
    left: -8px;
    clip-path: inset(0 0 0 0);
    animation: ani2 2s infinite linear alternate-reverse;
}

.balli::after {
    content: attr(data-text);
    position: absolute;
    text-shadow: 4px 0 rgb(11, 11, 11);
    left: 8px;
    clip-path: inset(0 0 0 0);
    animation: ani1 2s infinite linear alternate-reverse;
}

.crypto::before {
    content: attr(data-text);
    position: absolute;
    text-shadow: 4px 0 rgb(6, 236, 129);
    left: -8px;
    clip-path: inset(0 0 0 0);
    animation: ani2 2s infinite linear alternate-reverse;
}

.crypto::after {
    content: attr(data-text);
    position: absolute;
    text-shadow: 4px 0 rgb(61, 227, 23);
    left: 8px;
    clip-path: inset(0 0 0 0);
    animation: ani1 2s infinite linear alternate-reverse;
}

.mirage::before {
    content: attr(data-text);
    position: absolute;
    text-shadow: 4px 0 rgb(236, 163, 6);
    left: -8px;
    clip-path: inset(0 0 0 0);
    animation: ani2 2s infinite linear alternate-reverse;
}

.mirage::after {
    content: attr(data-text);
    position: absolute;
    text-shadow: 4px 0 rgb(217, 255, 0);
    left: 8px;
    clip-path: inset(0 0 0 0);
    animation: ani1 2s infinite linear alternate-reverse;
}